# Credentials and sensitive data
*_creds.json
.env

# Git and version control related files
.git
.gitignore
.gitattributes

# CI/CD and GitHub-related files
ci/*

# macOS system files
.DS_Store
**/.DS_Store
.AppleDouble
.LSOverride

# Editor and IDE files
.idea/
.vscode/
*.swp
*.swo
.github/*

# Documentation files
docs/*
README.md
SECURITY.md

# Local development scripts and helper files
Makefile
Makefile.help
Makefile.variables

# Build artifacts and temporary files
*.log
*.tmp
*.swp
*.bak
*.old

# Ignore test configuration files
src/*

# Ignore IDE specific and Prettier configuration files
.vscode/
*.iml
.prettierignore
.DS_Store
