# macOS system files
.DS_Store

# Bash history
.bash_history

# IDE specific files
.idea/
.vscode/
*.iml
.cache

# Environment secrets
.udx

# Build output
dist/

# Azure credentials file
*_creds.json
*-key.json

# Environment variables file
.env

# Ignore Prettier configuration overrides for development
.prettierignore

# Configuration files
.config