# macOS system files
.DS_Store

# Node modules
node_modules/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Package lock files
package-lock.json
yarn.lock

# IDE specific files
.idea/
.vscode/
*.iml

# Environment secrets
.udx

# Build output
dist/

# Azure credentials file
*_creds.json

# Environment variables file
.env

# Ignore Prettier configuration overrides for development
.prettierignore
