# .gitignore

# Ignore macOS system files
.DS_Store

# Ignore node modules
node_modules/

# Ignore log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore IDE specific files
.idea/
.vscode/
*.iml

# Ignore build output
dist/